@use 'sass:color';
@use '../base/variables' as *;

.bkpc-manage-backups-wrapper {
	display: flex;
	gap: $spacing-md;

	@media (max-width: $breakpoint-desktop) {
		flex-direction: column;
	}

	.bkpc-timer {
		color: $color-red;
		font-weight: $font-weight-bold;
		margin-left: $spacing-sm;
	}

	.bkpc-footer {
		background-color: $color-orange;
		border-radius: $border-radius; 
		margin: 0 $spacing-sm $spacing-md $spacing-sm;
		padding: $spacing-sm $spacing-md;
	}

	textarea {
		max-width: 100%;
		padding: $spacing-xs $spacing-sm;
		width: 100%;
	}
}
