<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<system.webServer>
		<!-- Deny all access to this directory on IIS -->
		<security>
			<authorization>
				<remove users="*" roles="" verbs="" />
				<add accessType="Deny" users="*" />
			</authorization>
		</security>
		<!-- Disable directory browsing -->
		<directoryBrowse enabled="false" />
		<!-- Set default document -->
		<defaultDocument>
			<files>
				<add value="index.php" />
			</files>
		</defaultDocument>
		<!-- Prevent script execution -->
		<handlers accessPolicy="None" />
	</system.webServer>
</configuration>