@use 'sass:color';
@use 'variables' as *;

.bkpc-admin {
	@keyframes bkpc-loading {
		0% { width: 0; }
		10% { width: 10%; }
		20% { width: 20%; }
		30% { width: 30%; }
		40% { width: 40%; }
		50% { width: 50%; }
		60% { width: 60%; }
		70% { width: 70%; }
		80% { width: 80%; }
		90% { width: 90%; }
		100% { width: 100%; }
	}

	.bkpc-loading-bar {
		animation: bkpc-loading 2s infinite;
		background-color: $color-green;
		display: none;
		height: 2px;
		margin-bottom: $spacing-sm;

		&.bkpc-loading-bar-active {
			display: block;
		}
	}
}
