@use 'sass:color';
@use 'variables' as *;

// Modal overlay
.bkpc-modal {
	align-items: center;
	display: none;
	height: 100%;
	justify-content: center;
	left: 0;
	opacity: 0;
	position: fixed;
	top: 0;
	transition: opacity $transition-default;
	width: 100%;
	z-index: 999999;

	&.bkpc-modal-show {
		display: flex;
		opacity: 1;

		.bkpc-modal-content {
			opacity: 1;
			transform: scale(1);
		}
	}
}

// Overlay background
.bkpc-modal-overlay {
	backdrop-filter: blur(2px);
	background-color: rgba($color-black, 0.5);
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}

// Modal content container
.bkpc-modal-content {
	background-color: $color-white;
	border-radius: $border-radius;
	max-width: 360px;
	opacity: 0;
	position: absolute;
	transition: all 0.3s ease;
	width: 90%;
}

// Modal header
.bkpc-modal-header {
	align-items: center;
	border-bottom: $border-width-sm solid $color-light-grey;
	display: flex;
	justify-content: space-between;
	padding: $spacing-lg;

	h2 {
		color: $color-dark-grey;
		font-size: $font-size-lg;
		margin: 0;
	}
}

// Close button
.bkpc-modal-close {
	align-items: center;
	background: none;
	border: none;
	border-radius: $border-radius;
	color: $color-dark-grey;
	cursor: pointer;
	display: flex;
	font-size: $font-size-lg;
	height: 30px;
	justify-content: center;
	line-height: 1;
	padding: 0;
	transition: background-color 0.2s ease;
	width: 30px;

	&:hover {
		background-color: $color-light-grey;
		color: $color-red;
	}

	&:focus {
		outline: $border-width-sm-md solid $color-blue;
		outline-offset: $border-width-sm-md;
	}
}

// Modal body
.bkpc-modal-body {
	padding: $spacing-lg;

	p {
		color: $color-dark-grey;
		line-height: 1.6;
		margin: 0;

		strong {
			color: $color-red;
		}
	}

	ul {
		margin: $spacing-md 0;
		padding-left: $spacing-lg;
	}
}

// Modal footer
.bkpc-modal-footer {
	background-color: color.adjust($color-light-grey, $lightness: 5%);
	border-top: $border-width-sm solid $color-light-grey;
	display: flex;
	gap: $spacing-sm;
	justify-content: flex-end;
	padding: $spacing-lg;

	.button {
		margin: 0;
	}

	.bkpc-modal-cancel {
		background-color: $color-white;
		border-color: $color-dark-grey;
		color: $color-dark-grey;

		&:hover {
			background-color: $color-light-grey;
			border-color: color.adjust($color-dark-grey, $lightness: -10%);
		}
	}

	.button-red {
		background-color: $color-red;
		border-color: color.adjust($color-red, $lightness: -10%);
		color: $color-white;

		&:hover {
			background-color: color.adjust($color-red, $lightness: -10%);
			border-color: color.adjust($color-red, $lightness: -20%);
		}
	}
}

// Responsive adjustments
@media (max-width: $breakpoint-mobile) {
	.bkpc-modal-content {
		max-width: none;
		width: 95%;
	}

	.bkpc-modal-header,
	.bkpc-modal-body,
	.bkpc-modal-footer {
		padding: $spacing-md;
	}

	.bkpc-modal-footer {
		flex-direction: column;

		.button {
			width: 100%;
		}
	}
}
