// Colors
$color-red: #c00;
$color-success: #377;
$color-black: #222;
$color-blue: #27c;
$color-white: #fff;
$color-border: #eee;
$color-border-dark: #bbb;
$color-bg-light: #f3f3f3;
$color-shadow: rgba(34, 34, 34, 0.05);
$color-bg-dark: rgba(34, 34, 34, 0.15);

// Breakpoints
$breakpoint-tablet: 1024px;

// Spacing
$spacing-xs: 0.25rem;
$spacing-sm: 0.5rem;
$spacing-md: 0.625rem;
$spacing-lg: 1rem;

// Border radius
$border-radius: 4px;
$border-radius-round: 50%;

// Transitions
$transition-default: ease 400ms;
